body {
    font-family: Arial, sans-serif;
    /* background-color: whi; */
}

header {
    margin-bottom: 60px; /* Adjust to prevent overlap with fixed navbar */
}

h2 {
    color: #343a40;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.list-group-item h5 {
    font-weight: bold;
    color: #495057;
}

.list-group-item p {
    color: #6c757d;
}

.list-group-item small {
    color: #adb5bd;
}
